/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

/* This uses the same value as --size-xs. */
@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}

.content-container {
	display: flex;
	flex-direction: row;
	height: 100vh;

}

.page-section {
	width: 50%;
	height: 100%;
	margin: auto;
}

button {
	font-family: "henriette-compressed", serif;
	font-weight: 400;
	font-style: italic;
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
 }



 .accordion {
	width: 100%;
 }

 .accordion-item {
	background-color: #fff;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
 }

 .accordion-header {
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
 }

 .accordion-content {
	/*display: none; */
	margin: 10px;
	height: 0px;
	transition: height 0.5s ease;
	overflow: hidden;
	display: flex;
	flex-direction: column;
 }

 .icon {
	font-size: 20px;
	margin-left: auto;
	transform: rotate(90deg);
	transition: all 0.2s ease;
 }

 .open .icon {
	transform: rotate(0);
 }

 .accordion-option {
	margin-bottom: 20px;
	text-decoration: none;
 }

 .accordion-option a:hover {
	color: #FF00FF;
 }
