/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

/* This uses the same value as --size-xs. */
/*@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}
*/

@font-face {
	font-family: 'CooperHewittBook';
	src: url("../fonts/CooperHewitt-Book.otf") format('opentype');
}

html {
	background-color: black;
}

body {
	font-family: 'CooperHewittBook', sans-serif;
	color: #fff;
}

h1 {
	font-size: 62px;
}

h2 {
	font-size: 24px;
}

.content-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	padding-left: 2%;

}

.page-section {
	width: 50%;
	margin: auto;
	align-items: center;
	font-family: 'CooperHewittBook', sans-serif;
}

.landing-title {
	padding-right: 4%;
}

.left-section {
	padding-left: 6%;
}

button {
	font-family: "henriette-compressed", serif;
	font-weight: 400;
	font-style: italic;
	font-size: 14px;
	color: white;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	border-color: white;
	padding: 5px 14px;
	background-color: black;
}

button:hover {
	color:black;
	background-color: white;
}

.panel {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: 0.2s ease-out;
 }


 .accordion {
	width: 100%;
 }

 .accordion-item {
	margin-bottom: 10px;
	padding: 10px;
 }

 .accordion-header {
	font-family: "henriette-compressed", serif;
	font-weight: 400;
	font-style: italic;
	font-size: 31px;
	cursor: pointer;
	display: flex;
	align-items: center;
 }

 .accordion-content {
	/*display: none; */
	color: white;
	margin: 10px;
	padding-left: 8%;
	height: 0px;
	transition: height 0.5s ease;
	overflow: hidden;
	display: flex;
	flex-direction: column;
 }


 .icon {
	width: 8.5%;
	margin-right: 17px;
 }

 .accordion-option {
	margin-bottom: 20px;
	text-decoration: none;
	font-size: 28px;
	color:#fff;
 }

 .accordion-option:active,.accordion-option:hover {
	color: #FF00FF;
	font-family: "henriette-compressed", serif;
	font-style: italic;
 }

 .active {
	color: #FF00FF;
	font-family: "henriette-compressed", serif;
	font-style: italic;
 }


